
body{
  background:#f5f5f5;
  font-family: 'Carter One', sans-serif;
}


#container{
  width:980px;
  margin:0 auto;
  overflow:hidden;
  padding:100px 0;
}


/* Banner container + slides */

#banner {
  position:relative;
  /* non-essential below */
  margin:0 auto;
 /* padding:20px;*/
  background:#fff;
  box-shadow:0 0 50px rgba(0,0,0,0.5);
}

#banner .slide {
  display:block;
  padding: 0;
  margin: 0;
  opacity:0.0;
  position:absolute;
  /* non-essential below */
}

#banner .active-slide {
  z-index:10;
  opacity:1.0;
  /* non-essential below */
}

#banner .last-active-slide {
  z-index:9;
  /* non-essential below */
}




/* Markers */

#banner ul.markers {
  margin:0;
  padding:5px;
  position:absolute;
  z-index:11;
  list-style:none;
  /* non-essential below */
  bottom:10px;
}

#banner ul.markers li{
  float:left;
  /* non-essential below */
}

#banner ul.markers li a{
  display:block;
  /* non-essential below */
  height:20px;
  width:20px;
  background:#fff;
  overflow:hidden;
  text-indent:-9999px;
  margin:0 5px;
}

#banner ul.markers li.active-marker a{
 background:#fd0100;
}




/* Slider controls */

#banner .controls{
  z-index:11;
  position:absolute;
  display:none;
  /* non-essential below */
  padding:6px 10px;
  text-decoration:none;
  color:#fd0100;
  background:#fff;
  text-transform:uppercase;
  -webkit-transition:color 0.2s linear;  
  -moz-transition:color 0.2s linear;  
  -o-transition:color 0.2s linear;  
  transition:color 0.2s linear;  
}

#banner .controls:hover{
  color:#6c0000;
}

#banner #next{
  /* non-essential below */
  background-position:30px 0;
  right:10px;
}

#banner #prev{
  left:10px;
  /* non-essential below */
}


